.header {
    height: 200px;
    color:white;
    background-color: green;
    text-align: center;
}
.nav {
    font-weight: underlined;
    display:flex;
    justify-content: center;
    gap: 155px;
    margin: top 50px;;
    list-style-type: none;
}